{% extends 'catalog/base.html' %}

{% load catalog_tags %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 {% if not object.is_published %} bg-warning {% endif %}">Продукт: {{ object.name }}</h1>
    {% if perms.catalog.set_published %}
        {% if not object.is_published %}
            <a class="p-2 btn btn-outline-success" href="/product/publish/{{ object.id }}">Опубликовать</a>
        {% else %}
            <a class="p-2 btn btn-outline-danger" href="/product/publish/{{ object.id }}">Снять с публикации</a>
        {% endif %}
    {% endif %}
    <a class="p-2 btn btn-outline-primary" href="/product/update/{{ object.id }}">Edit</a>
    <a class="p-2 btn btn-outline-primary" href="/product/delete/{{ object.id }}">Delete</a>

</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Название</td>
                            <td>{{object.name}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Описание</td>
                            <td>
                                {{object.description}}
                                {% if perms.catalog.change_description %}
                                    <a class="p-2 btn btn-outline-success" href="/product/change_description/{{ object.id }}">Изменить</a>
                                {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <td class="w-25">Изображение (превью)</td>
                            <td>
                                <img class="card-img-top"
                                     src="{% my_media object.photo %}"
                                >
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25">Категория</td>
                            <td>
                                {{object.category}}
                                {% if perms.catalog.change_category %}
                                    <a class="p-2 btn btn-outline-success" href="/product/change_category/{{ object.id }}">Изменить</a>
                                {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <td class="w-25">Цена за покупку</td>
                            <td>{{object.order_price}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Дата создания</td>
                            <td>{{object.created_at}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Дата последнего изменения</td>
                            <td>{{object.updated_at}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Владелец</td>
                            <td>{{object.owner}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% include 'catalog/inc_contact_us.html' %}

    </div>

    {% include 'catalog/inc_footer.html' %}
</div>

{% endblock %}
